body {
    margin: 0;
    display: flex;
    background-image: url("login_page_assets/theatre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}


.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 181px 456px 181px 456px;
    padding: 40px;
    background-color: rgba(24, 26, 28, 0.84);
    border-radius: 16px;
    height: fit-content;
    width: 529px;
}

.logo{
    margin: auto;
    align-items: center;
}

h1 {
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom:0;
    font-size: 32px;
}

.username {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
}

.password {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

input::placeholder {
    color: #C1C2C4;
    font-size: 16px;
}

.username-here input{
    background-color: transparent;
    border: 1px solid rgba(231, 227, 252, 0.23);
    border-radius: 24px;
    width: 449px;
    border-height: 50px;
    padding: 14px 20px 14px 20px;
}

.password-here input{
    background-color: transparent;
    border: 1px solid rgba(231, 227, 252, 0.23);
    border-radius: 24px;
    width: 449px;
    border-height: 50px;
    padding: 14px 20px 14px 20px;
}

.log-into button {
    background-color: #3D4142;
    border: 1px solid rgba(231, 227, 252, 0.23);
    border-radius: 24px;
    width: 490.6px;
    border-height: 50px;
    padding: 14px 20px 14px 20px;
    color: #FFFFFF;
    font-size: 16px
}

.google-button {
    background-color: transparent;
    border: 1px solid rgba(231, 227, 252, 0.23);
    border-radius: 24px;
    width: 490.6px;
    border-height: 50px;
    padding: 14px 20px 14px 20px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

.google-logo {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 15px
}

.google-button-text{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}

.atau {
    color: #C1C2C4;
    text-align: center;
    font-size: 14px;
}

.greeting-message {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #FFFFFF;
    font-weight: 400;
    margin:0;
    font-size: 16px;
}

.selamat-datang {
    margin-block-start: 0;
    margin-block-end: 0;
}



section {
    font-family: lato;
    max-width: 
}

.akun {
    color: #C1C2C4
}

.daftar {
    color: #FFFFFF;
    font-weight: bold;
}

.pertanyaan {
    font-size: 16px;
    display: inline-block;
}

.lupa-kata-sandi {
    float: right;
    display: inline-block;
    font-weight: bold;
    align-text: right;
}

.daftar, .lupa-kata-sandi {
    text-decoration: none;
}
